/omod/target/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/api/target/
/api/terminology-services-api.iml
/omod/terminology-services-omod.iml
omod/.DS_Store