<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.6.dtd">

<module configVersion="1.6">

    <id>fhir-ts-services-int</id>
    <name>FHIR Terminology Services Integration Module</name>
    <version>1.0.0-SNAPSHOT</version>
    <package>org.bahmni.module.fhirterminologyservices</package>
    <author>Bahmni</author>
    <description>OpenMRS Module to integrate Fhir Terminology Services with Bahmni</description>

    <activator>org.bahmni.module.fhirterminologyservices.TerminologyServicesActivator</activator>

    <require_version>1.11.6</require_version>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module>org.openmrs.module.fhir2</require_module>
		<require_module>org.openmrs.module.emrapi</require_module>
		<require_module>org.bahmni.module.bahmnicore</require_module>
	</require_modules>

    <globalProperty>
        <property>ts.fhir.baseurl</property>
        <defaultValue>http://snowstorm-lite:8080/fhir/</defaultValue>
        <description>Base URL of the terminology server. Defaults to SNOWSTORM Lite</description>
    </globalProperty>

    <globalProperty>
        <property>ts.fhir.valueset.urltemplate</property>
        <defaultValue>ValueSet/$expand?url={0}&amp;filter={1}&amp;count={2}&amp;displayLanguage={3}&amp;includeDesignations={4}</defaultValue>
        <description>Valueset URL template for FHIR terminology server</description>
    </globalProperty>

	<globalProperty>
		<property>ts.fhir.diagnosissearch.valueseturl</property>
        <defaultValue>http://snomed.info/sct?fhir_vs=ecl/&lt;404684003</defaultValue>
		<description>Valueset URL for Diagnosis Search on terminology server. Defaults to a subset of Clinical finding (finding)</description>
	</globalProperty>
	<globalProperty>
		<property>ts.fhir.observation.valueset.urltemplate</property>
        <defaultValue>ValueSet/$expand?url={0}&amp;displayLanguage={1}&amp;_format={2}&amp;filter={3}&amp;count={4}</defaultValue>
		<description>Valueset URL template for Observation on terminology server</description>
	</globalProperty>

    <globalProperty>
        <property>ts.fhir.conceptDetailsUrl</property>
        <defaultValue>http://snomed.info/sct?fhir_vs=ecl/{0}</defaultValue>
        <description>URL template pattern for fetching concept details from terminology server</description>
    </globalProperty>

    <globalProperty>
        <property>ts.fhir.diagnosiscount.valueseturl</property>
        <defaultValue>http://snomed.info/sct?fhir_vs=ecl/&lt;&lt;</defaultValue>
        <description>Valueset URL for Diagnosis Count on terminology server</description>
    </globalProperty>

    <globalProperty>
        <property>ts.fhir.diagnosiscount.valueset.urltemplate</property>
        <defaultValue>ValueSet/$expand?url={0}{1}&amp;displayLanguage={2}&amp;count={3,number,#}&amp;offset={4,number,#}</defaultValue>
        <description>Valueset URL template for Diagnosis Count Reports</description>
    </globalProperty>

    <globalProperty>
        <property>ts.fhir.procedure.valueset.urltemplate</property>
        <defaultValue>http://bahmni.org/fhir/ValueSet/</defaultValue>
        <description>URL template pattern for fetching valueset for procedure details from terminology server</description>
    </globalProperty>

    <globalProperty>
        <property>ts.fhir.valueset.socket.timeout</property>
        <description>Client side setting that specifies maximum time between two data packets to arrive</description>
    </globalProperty>

    <globalProperty>
        <property>ts.fhir.valueset.connection.timeout</property>
        <description>Client side setting that specifies the period between which the connection between a client and a server must be established</description>
    </globalProperty>

    <globalProperty>
        <property>ts.fhir.valueset.connection.request.timeout</property>
        <description>Specifies maximum time during which a connection must be obtained from the connection pool</description>
    </globalProperty>

    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>
	<advice>
		<point>org.bahmni.module.bahmnicore.service.TsConceptSearchService</point>
		<class>org.bahmni.module.fhirterminologyservices.web.advisor.ConceptSearchInterceptor</class>
	</advice>

    <!-- AOP -->
    <!-- Required Privileges -->
</module>

