name: Deploy to SNOMED environment
on:

  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        type: choice
        default: qa
        options:
          - qa
          - dev

env:
  ENVIRONMENT: ${{ github.event.inputs.environment || 'qa'}}

jobs:
  trigger:
    name: Trigger Deployment Workflow to ${{ github.event.inputs.environment || 'qa'}} environment
    runs-on: ubuntu-latest
    env:
      ORG_NAME: Bahmni
      REPOSITORY_NAME: bahmni-docker
      ENVIRONMENT: ${{ github.event.inputs.environment || 'qa'}}
    steps:
      - name: Create workflow_dispatch
        run: |
          trigger_result=$(curl -s -o trigger_response.txt -w "%{http_code}" -X POST -H "Accept: application/vnd.github.v3+json" -H 'authorization: Bearer ${{ secrets.BAHMNI_PAT }}' https://api.github.com/repos/${ORG_NAME}/${REPOSITORY_NAME}/actions/workflows/snomed-deploy.yml/dispatches -d '{"ref":"snomed-master","inputs":{"environment":"'"${ENVIRONMENT}"'"}}')
          if [ $trigger_result == 204 ];then
            echo "Trigger to $ORG_NAME/$REPOSITORY_NAME Success"
          else
            echo "Trigger to $ORG_NAME/$REPOSITORY_NAME Failed"
            cat trigger_response.txt
            exit 1
          fi